
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #5992a5;
    display: flex;
    justify-content: center;

}
ul{
    list-style: none;
    display: flex;
    gap: 1rem; 
    padding: 1vh 0vw;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    justify-content: center;
    display: flex;
}